/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Font*/
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Utilities*/
.debug .border{
    border: black dashed 1px;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

/*Header*/
.main-header{
    min-height: 350px;
    background-color: #255ee9;
}

.header-nav{
    padding: 25px 0;
}

.logo{
    flex-basis: 25%;
}

.logo img{
    height: 30px;
}

.links{
    flex-grow: 1;
    text-align: center;
}

.links a{
    font-size: small;
    margin: 10px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}

.login{
    flex-basis: 25%;
    text-align: end;
}

.button{
    font-size: small;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
}

.download-image{
    padding: 100px 0;
    color: white;
    align-items: center;
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-jumbotron{
    max-width: 600px;
    margin: 0 auto;
}

.jumbotron-title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.download-image p{
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.download-buttons{
    justify-content: center;
    gap: 20px;
}

.open-browser{
    color: white;
    background-color: #23272a;
}

/*Main*/
.intro-section1{
    height: 400px;
    background-color: white;
    padding: 25px;
}

.intro-section2{
    height: 400px;
    background-color: grey;
    padding: 25px;
}

.intro-section3{
    height: 400px;
    background-color: white;
    padding: 25px;
}

.intro-section4{
    height: 600px;
    background-color: grey;
    padding: 25px;
}

.image{
    background-color: pink;
    height: 350px;
    width: calc(100%/3);
}

.description{
    background-color: rgb(79, 160, 187);
    height: 350px;
    width: calc(100%/3 *2);
}

.final-section{
    background-color: green;
    min-height: 550px;
}

/*Footer*/
.main-footer{
    background-color: rgb(26, 25, 25);
    height: 500px;
    padding: 25px;
}

.contact-section{
    background-color: pink;
    min-height: 450px;
    min-width: 50%;
}

.link-section{
    background-color: aqua;
    min-height: 450px;
    min-width: 50%;
}

.link-section > *{
    width: 25%;
}

.side-footer{
    border: solid white 1px;
    background-color: rgb(26, 25, 25);
    height: 80px;
    padding: 20px;
}
.side-footer-items{
    background-color: aquamarine;
}

.logo-footer{
    height: 40px;
    width: 70px;
    background-color: white;
    text-align: center;
    line-height: 40px;
}

.side-footer > .flex-container{
    justify-content: space-between;
}
